.components-page-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(109, 128, 125, 0.5);
    overflow: auto;
}

.components-main-container {
    flex: content;
    padding: 20px;
}